<div class="card">
    <div class="card-body">

        <form (submit)="addTask(newTitle, newDescription)">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Task Title" #newTitle>
            </div>
            
            <div class="form-group">
                <textarea cols="" rows="5   " class="form-control" placeholder="Task Description" #newDescription></textarea>
            </div>

            <button class="btn btn-success btn-block">Save</button>

        </form>
    </div>
</div>